Repository coderdojobraga/shuriken, pull requests merged in 2023-10, with the labels that each got.

#200 fix: white belt style
  apps/app/components/Belt/index.js
Labels: app

#203 refactor: blog
  apps/blog/_posts/difference-languages.md
  apps/blog/_posts/tech-post-1.md
Labels: blog

#204 feat: add enrollments/availabilities counter to event show page
  apps/app/components/Availability/index.tsx
  apps/app/pages/admin/event/[id].tsx
  apps/app/pages/event/[id].tsx
Labels: app

#207 fix: enhance phone number input UX
  apps/app/components/Register/index.tsx
Labels: enhancement, app
